---
import { Icon } from 'astro-icon';

export interface Props {
  text: string;
  href: string;
  icon?: string;
  class?: string;
}

const {
  text = await Astro.slots.render('text'),
  href = await Astro.slots.render('href'),
  class: className = await Astro.slots.render('class'),
  icon = await Astro.slots.render('icon'),
} = Astro.props;
---

<a class:list={['btn w-full sm:w-auto', className]} href={href} rel="noopener">
  {text}
  {icon && <Icon name={icon} class="w-5 h-5 ml-2.5 -mr-1.5" />}
</a>
