---
export interface Props {
  name: string;
  role: string;
  testimonial: string;
}

const { name, role, testimonial } = Astro.props;
---

<article
  class="w-full bg-white border-zinc-200 border rounded-lg p-5 shadow-lg [&:not(:first-child)]:hidden lg:[&:not(:first-child)]:block"
>
  <p class="text-xl text-heading dark:text-slate-400">"{testimonial}"</p>
  <h3 class="mt-4 font-bold">{name}</h3>
  <caption>{role}</caption>
</article>
