---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonial from '~/components/widgets/Testimonial.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero2
    callToAction2={{ text: 'Call Now', href: 'https://github.com/onwidget/astrowind', icon: 'tabler:phone' }}
    image={{ src: import('~/assets/images/teal-woman.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Free template for <br />
      <span class="text-accent dark:text-white highlight"> Astro 2.0</span> + Tailwind CSS
    </Fragment>

    <Fragment slot="subtitle">
      Small Business, Sass Websites, Professional Portfolios, Marketing Websites, Landing Pages & Blogs.
    </Fragment>
  </Hero2>

  <section class="flex flex-col lg:flex-row container px-4 mx-auto gap-5 -mt-5">
    {
      Array.from({ length: 3 }, () => (
        <Testimonial
          name="John Doe"
          role="CEO at Company"
          testimonial="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla."
        />
      ))
    }
  </section>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tight mb-4 font-heading">
        Ad vix debet docendi
      </h2>
      Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod
      tacimates.
      <div class="mt-6">
        <CallToAction text="Services" href="#" icon="tabler:scissors" class="btn-primary" />
      </div>
    </Fragment>
  </Content>

  <section class="md:py-20 py-12 text-center bg-teal-50 text-teal-900">
    <!-- <div class="container flex flex-col md:flex-row md:items-center md:justify-center gap-5"> -->
    <!--   <div class="flex flex-col md:flex-row md:items-center md:justify-center gap-5"> -->
    <!--     { -->
    <!--       Array.from({ length: 4 }, () => ( -->
    <!--         <BrandCard -->
    <!--           image={{ -->
    <!--             src: import('~/assets/images/brand-logo-1.png'), -->
    <!--             alt: 'Brand Logo', -->
    <!--           }} -->
    <!--         /> -->
    <!--       )) -->
    <!--     } -->
    <!--   </div> -->
    <!-- </div> -->
    <!-- <div class="container max-w-lg mx-auto text-teal-500 flex items-center gap-5"> -->
    <!--   <div class="w-full"> -->
    <!--     <hr class="border-teal-500 border-1" /> -->
    <!--   </div> -->
    <!--   <div class="whitespace-nowrap"> -->
    <!--     <span class="uppercase">And More</span> -->
    <!--   </div> -->
    <!--   <div class="w-full"> -->
    <!--     <hr class="border-teal-500 border-1" /> -->
    <!--   </div> -->
    <!-- </div> -->
    <h2 class="mb-4 font-heading font-bold leading-tighter tracking-tight text-4xl">
      Astro + <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </h2>
    <p class="text-teal-700 dark:text-slate-400 text-xl">
      Be very surprised by these huge fake numbers you are seeing on this page.<br class="hidden md:inline" />Don't
      waste more time! :P
    </p>
  </section>
</Layout>
